body { /*make background FLOAT-- There are redundancies between both new boxes with format and the old -- need to fix */

    background-repeat: no-repeat;
    width: 98%;
    height: 100%
    font: Ubuntu, Helvetica, Verdana, sans-serif;
    font-size: 14px;
    background-color: #F2F2F2;
}

/*This Section is for the Links*/

a:link {

    font-family: Ubuntu, "Times New Roman", Times, serif;
    color: #dd4814;
    text-decoration: none;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
}

li:link {
    font-family: Ubuntu, "Times New Roman", Times, serif;
    color: #dd4814;
    text-decoration: none;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
}

a:visited {
    font-family: Ubuntu, "Times New Roman", Times, serif;
    color: #dd4814;
    text-decoration: none;
    font-weight: bold;
}

li a:visited {
    font-family: Ubuntu, "Times New Roman", Times, serif;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: #B7C3D0;
    padding-bottom: 5px;;
}

li a:hover {
    color: #dd4814;
    padding-bottom: 5px;
}

a:active {
    font-family: Ubuntu, "Times New Roman", Times, serif;
    text-decoration: none;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
}

/*TAG LINKS*/

a.class1:link {

    font-family: Ubuntu, "Times New Roman", Times, serif;
    color: #dd4814;
    background: #F8F8FF;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
    padding: 0 1em;
    border-radius: 5px;
}

a.class1:visited {
    font-family: Ubuntu, "Times New Roman", Times, serif;
    color: #dd4814;
    background: #F8F8FF;
    text-decoration: none;
}


a.class1:hover {
    background: #B7C3D0;
    color: #dd4814;
}

a.class1:active {
    font-family: Ubuntu, "Times New Roman", Times, serif;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
}

/*Navigation Links*/

a.blognav:link {

    font-family: Ubuntu, "Times New Roman", Times, serif;
    color: #B7C3D0;
    background: #333745;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
    padding: 0 1em;
    border-radius: 5px;
}

a.blognav:visited {
    font-family: Ubuntu, "Times New Roman", Times, serif;
    color: #B7C3D0;
    background: #333745;
    text-decoration: none;
}


a.blognav:hover {
    background: #F8F8FF;
    color: #B7C3D0;
}

a.blognav:active {
    font-family: Ubuntu, "Times New Roman", Times, serif;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
}

#cpage{
    font-family: Ubuntu, serif;
    color: #333745;
    display: inline;
}


/*This Secton is CSS for the Blog Posts/Headers/Footers*/

#Container{
    width: 90%;
    margin: 10px auto;
    background-color: #fff;
    color: #333;
    line-height: 130%;
}

#top{
    padding: .5em;
    background-color: #353F3E;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 2.5px solid #F2F2F2;
}

#top h1{
    padding: 0;
    margin: 0;
    font-family: Ubuntu, Helvetica, Verdana, sans-serif;
    font-size: 40px;
}

h1.header .word1{
    color: #F8F8FF;
    font-family: 'Ubuntu';
    font-weight: normal;
}

h1.header .word2{
    color: #F8F8FF;
    font-family: 'Ubuntu';
}

#tagline {
    color: #dd4814;
    font-weight: normal;
    text-transform: lowercase;
    font-family: Ubuntu, sans-serif;
    font-size: 14px;
    margin-left: 8em;
}

#tagline .word6{
    text-transform:uppercase;
    font-style: italic;
    font-size: 17px;
}
#tagline .word7{

    text-transform: uppercase;
    font-weight: bold;
    font-size: 17px;
}


#updatepanel{
    position: relative;
    margin:1em;
    padding: 3.5em;
    float: left;
    width: 300px;
    margin: 0em;
    margin-left: 1em;
    padding-right: 3.5em;
}

#content{
    background-color: #F8F8FF;
    border-radius: 5px;
    float: right;
    -webkit-border-radius: 5px;
    border: 2px solid #A8A8A8;
    -webkit-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.4); 
    box-shadow: 0px 1px 6px rgba(23, 69, 88, .5);
    margin-left: 20px;
    margin-right: 20px;
    padding: 1em;
    max-width: 45em;
    word-wrap: break-word;
}

#footer{
    clear: both;
    margin: 0;
    padding: .5em;
    color: #333;
    text-align: center;
    font-family: Ubuntu, sans-serif;

}

/*content styles -- no move functionality */

#header-top ul {
    font-family: Ubuntu, Helvetica, sans-serif;
    word-spacing: 30px;
    font-size: 22px;
}

#header-top li {
    display: inline;
}

#header-top a{
    color: #333745;
    text-decoration: none;
}

#header-top ul a:hover{
    color: #dd4814;
}

#updatepanel.fixed {
    position: fixed;
    top: 0;
}

#updatepanel h2 {
    font-size: 180%;
    font-family: Ubuntu, Helvetica, sans-serif;
    color: #353F3E;
}

#updatepanel p {
    font-family: Ubuntu, sans-serif;
    color: #353F3E;
    font-size: 14px;
}

#content p {
    font-size: 17px;
    font-family: Ubuntu, sans-serif;
    color: #1A1A1A;
    margin: 0 0 .5em 0;
}

#content h2 {
    font-size: 25px;
    font-family: Ubuntu, sans-serif;
/*    margin: 0 0 .5em 0;*/
/*    margin-left: -22px; /* 15px padding + 7px border ribbon shadow*/
/*    margin-right: -22px;*/
/*    padding: 15px;*/
/*    background: #353F3E;*/
/*    -webkit-box-shadow: 0 -1px 0 rgba(255,255,255,.8) inset;*/
/*    box-shadow: 0 -1px 0 rgba(255,255,255,.8) inset;*/
}

/*#content:h2.before, #content:h2.after {*/
/*  left: 0;*/
/*  bottom: -6px;*/
/*  content:'';*/
/*  border-top: 6px solid #555;*/
/*  border-left: 6px solid transparent;*/
/*}*/

/*#content:h2.before {*/
/*  border-top: 6px solid #555;*/
/*  border-right: 6px solid transparent;*/
/*  border-left: none;*/
/*  left: auto;*/
/*  right: 0;*/
/*  bottom: -6px;*/
/*}*/

#content h3 {
    font-size: 13.5px;
    font-family: Ubuntu, sans-serif;
    color: #dd4814;
}
