/* homepage template */

/*make background FLOAT-- There are redundancies between both new boxes with format and the old -- need to fix */

body {

    width: 98%;
    height: 100%;
    font: Ubuntu, Helvetica, Verdana, sans-serif;
    font-size: 14px;
    background-color: #F2F2F2;
}

a:link {

    font-family: Ubuntu, "Times New Roman", Times, serif;
    color: #dd4814;
    text-decoration: none;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
}

li:link {
    font-family: Ubuntu, "Times New Roman", Times, serif;
    color: #dd4814;
    text-decoration: none;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
}

a:visited {
    font-family: Ubuntu, "Times New Roman", Times, serif;
    color: #999999;
    text-decoration: none;
}

li a:visited {
    font-family: Ubuntu, "Times New Roman", Times, serif;
    text-decoration: none;
}

li a:hover {
    color: #dd4814;
}

a:active {
    font-family: Ubuntu, "Times New Roman", Times, serif;
    color: #dd4814;
    text-decoration: none;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
}

/*Text-Box Position + Styles*/

#top{
    padding: .5em;
    background-color: #353F3E;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 2.5px solid #F2F2F2;
}

#top h1{
    padding: 0;
    margin: 0;
    font-family: Ubuntu, Helvetica, Verdana, sans-serif;
    font-size: 40px;
}

h1.header .word1{
    color: #F8F8FF;
    font-family: 'Ubuntu';
    font-weight: normal;
}

h1.header .word2{
    color: #F8F8FF;
    font-family: 'Ubuntu';
}

#tagline {
    color: #dd4814;
    font-weight: normal;
    text-transform: lowercase;
    font-family: Ubuntu, sans-serif;
    font-size: 14px;
    margin-left: 8em;
}

#tagline .word6{
    text-transform:uppercase;
    font-style: italic;
    font-size: 17px;
}
#tagline .word7{

    text-transform: uppercase;
    font-weight: bold;
    font-size: 17px;
}


#leftnav{
    float: left;
    width: 300px;
    margin: 0 0 0 0;
    padding: 1em;
}

#leftnav h2{
    font-family: Ubuntu, "Times New Roman", Times, serif;
    font-size: 18px;
    font-size: 25px;
    color: #333745;
}


#rightnav{
    background-color: #353F3E;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    border: .5px solid #F2F2F2;
    -webkit-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.4); 
    box-shadow: 0px 1px 6px rgba(23, 69, 88, .5);
    float: right;
    width: 200px;
    margin: 0;
    margin-left: 1em;
    padding: 3.5em;
    max-width: 30em;
}

#content{
    background-color: #F8F8FF;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 2px solid #A8A8A8;
    -webkit-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.4); 
    box-shadow: 0px 1px 6px rgba(23, 69, 88, .5);
    margin-left: 400px;
    margin-right: 200px;
    padding: 1em;
    max-width: 50em;
    word-wrap: break-word;
    font-family: Ubuntu, sans-serif;
}

#footer{
    clear: both;
    margin: 0;
    padding: .5em;
    color: #333;
    text-align: center;
    font-family: Ubuntu, sans-serif;
}

#leftnav p, #rightnav p{ margin: 0 -3em 1em 0; }
#content h2 { margin: 0 0 .5em 0;}

/*content styles -- no move functionality */

#header-top ul {
    font-family: Ubuntu, Helvetica, sans-serif;
    word-spacing: 30px;
    font-size: 22px;
}

#header-top li {
    display: inline;
}

#header-top a{
    color: #333745;
    text-decoration: none;
}

#header-top ul a:hover{
    color: #dd4814;
}

#updatepanel {
    font-weight: normal;
}

#updatepanel h3 {
    font: bold;
    font-size: 180%;
    font-family: Ubuntu, Helvetica, sans-serif;
    color: #F8F8FF;
}

#updatepanel h4 {
    font-size: 20px;
    font-family: Ubuntu, Helvetica, sans-serif;
    color: #dd4814;
}

#updatepanel p {
    font-family: Ubuntu, sans-serif;
    color: #F8F8FF;
    font-size: 14px;
}

#mainfeature h3 {
    font-size: 20px;
    font-family: Ubuntu, Helvetica, sans-serif;
    color: #dd4814;
}
#mainfeature p {
    font-size: 16px;
    font-family: Ubuntu, sans-serif;
    color: #1A1A1A;
}

#content p {
    font-size: 15px;
    font-family: Ubuntu, sans-serif;
    color: #1A1A1A;
}

#content h2 {
    font-size: 16px;
    font-family: Ubuntu, sans-serif;
    color: #1A1A1A;
}

#content h3 {
    font-size: 13.5px;
    font-family: Ubuntu, sans-serif;
    color: #dd4814;
}
