/* Generic Selectors */

body {
    background-size: 107%;
    background-repeat: no-repeat;
    width: 98%;
    height: 100%
    font: small Arial, Helvetica, Verdana, sans-serif;
    font-size: 14px;
    background-color: #333333;
}

p {
    width: 80%;
}

li {
    list-style-type: none;
    line-height: 150%
    list-style-image: url(../images/arrowSmall.gif)
}

h2 {
}

#main {
    position: relative;
    top:0;
    left: 0;
    width:100%
    margin-top: 10px;
}

#irtheorylinks {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0 0 0 500px;
    padding: 0;
}

#irtheorylinks h2 {
    font-size: 23px;
    margin: 0;
    font-weight: bold;
    color: #77C4D3;
    font-family: 'Open Sans Condensed', Helvetica, sans-serif;
}

#twitter {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 300px;
    margin: 0 100px 19px 700px;
}

#twitter h2 {
    font-size: 23px;
    font-weight: bold;
    color: #77C4D3;
    font-family: 'Open Sans Condensed', Helvetica, sans-serif;
}

#twitter h2 span {
    color: #DAEDE2;
}

#twitter a {
    color: #DAEDE2;
}

#twitter a:hover {
    color: #77C4D3;
}

#centerDoc {
    position: absolute;
    padding: 0 0 20px 0;
    margin-top: 50px;
    margin-left: 235px;
}

#search {
}

#search input[type="text"] {
    position: absolute;
    top: 0;
    right: 0;
    width: 220px;
    margin: 140px 70px 0 0;
    background: url(/static/images/search-dark.png) no-repeat 10px 6px #444;
    border: 0 none;
    font: bold 12px Arial,Helvetica,Sans-serif;
    color: #777;
    width: 150px;
    padding: 6px 15px 6px 35px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
    -webkit-transition: all 0.7s ease 0s;
    -moz-transition: all 0.7s ease 0s;
    -o-transition: all 0.7s ease 0s;
    transition: all 0.7s ease 0s;
}

#search input[type="text"]:focus {
    width: 200px;
    }
