body {

    background-repeat: no-repeat;
    width: 98%;
    height: 100%
    font: Ubuntu, Helvetica, Verdana, sans-serif;
    font-size: 14px;
    background-color: #F2F2F2;
}

a:link {

    font-family: Ubuntu, "Times New Roman", Times, serif;
    color: #dd4814;
    text-decoration: none;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
}

li:link {
    font-family: Ubuntu, "Times New Roman", Times, serif;
    color: #dd4814;
    text-decoration: none;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
}

a:visited {
    font-family: Ubuntu, "Times New Roman", Times, serif;
    color: #999999;
    text-decoration: none;
}

li a:visited {
    font-family: Ubuntu, "Times New Roman", Times, serif;
    text-decoration: none;
}

a:hover {
    color: #dd4814;
    padding-bottom: 5px;
}

li a:hover {
    color: #dd4814;
    padding-bottom: 5px;
}

a:active {
    font-family: Ubuntu, "Times New Roman", Times, serif;
    color: #dd4814;
    text-decoration: none;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
}

#top{
    padding: .5em;
    background-color: #353F3E;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 2.5px solid #F2F2F2;
}

#top h1{
    padding: 0;
    margin: 0;
    font-family: Ubuntu, Helvetica, Verdana, sans-serif;
    font-size: 40px;
}

h1.header .word1{
    color: #F8F8FF;
    font-family: 'Ubuntu';
    font-weight: normal;
}

h1.header .word2{
    color: #F8F8FF;
    font-family: 'Ubuntu';
}

#tagline {
    color: #dd4814;
    font-weight: normal;
    text-transform: lowercase;
    font-family: Ubuntu, sans-serif;
    font-size: 14px;
    margin-left: 8em;
}

#tagline .word6{
    text-transform:uppercase;
    font-style: italic;
    font-size: 17px;
}
#tagline .word7{

    text-transform: uppercase;
    font-weight: bold;
    font-size: 17px;
}

#content{
    background-color: #F8F8FF;
    border-radius: 5px;
    border-radius-topleft: 15px;
    border-radius-topright: 0px;
    border-radius-bottomright: 15px;
    border-radius-bottomleft: 0px;
    -webkit-border-top-left-radius: 15px;
    -webkit-border-top-right-radius: 0px;
    -webkit-border-bottom-left-radius: 0px;
    -webkit-border-bottom-right-radius: 15px;
    border: 2px solid #A8A8A8;
    -webkit-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.4); 
    box-shadow: 0px 1px 6px rgba(23, 69, 88, .5);
    margin-left: 100px;
    margin-right: 100px;
    padding: 1em;
    word-wrap: break-word;
}

#footer{
    clear: both;
    margin: 0;
    padding: .5em;
    color: #333;
    text-align: center;
    font-family: Ubuntu, sans-serif;
}

/*content styles -- no move functionality */

#header-top ul {
    font-family: Ubuntu, Helvetica, sans-serif;
    word-spacing: 30px;
    font-size: 22px;
}

#header-top li {
    display: inline;
}

#header-top a{
    color: #333745;
    text-decoration: none;
}

#header-top ul a:hover{
    color: #dd4814;
}

#content p {
    font-size: 15px;
    font-family: Ubuntu, sans-serif;
    color: #1A1A1A;
    list-style: circle;
}

#content h2 {
    font-family: Ubuntu, sans-serif;
    font-size: 3.2em;
    color: #dd4814;
}

#content h3 {
    background-color: #F2F2F2;
    padding: 12px;
    text-shadow: 0.5px 0.5px 0 #493854;
    border-radius: 5px;
    border-radius-topleft: 15px;
    border-radius-topright: 0px;
    border-radius-bottomright: 15px;
    border-radius-bottomleft: 0px;
    -webkit-border-top-left-radius: 15px;
    -webkit-border-top-right-radius: 0px;
    -webkit-border-bottom-left-radius: 0px;
    -webkit-border-bottom-right-radius: 15px;
    -webkit-box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.4); 
    box-shadow: 0px 1px 6px 0px rgba(23, 69, 88, .5);
    font-size: 16px;
    font-family: Ubuntu, sans-serif;
    color: #353F3E;
}

#content b {
    color: #dd4814;
}

#content li {
    list-style: circle;
}
