{% extends "archbase.html" %}
    
{% block content %}
    
{% for post in object_list %}

    <p>{{ post.created|date:'Y-m-d' }}<a href ="/blog/{{post.id}}"> {{ post.title }}</a></p>

{% endfor %}
  
{% endblock %}
