{% extends "base.html" %}

{% block content %}

    <div class="main">
        <ul>
            {% for post in object_list %}
                <h2><br><a href ="/blog/{{post.id}}">{{ post.title }}</a></br></h2>
                <ul>
                    <div class="post_meta"> on {{ post.created }} </div>
                    <br><div class="post_body"> {{ post.body|safe|linebreaks }} </div></br>
                </ul>
                <div class="tags">
                    {% for tag in post.tags.all %}
                    <a href="/blog/tag/{{tag}}" class="class1">{{tag}}</a>
                    {% if not forloop.last %} {% endif %}
                    {% endfor %}
                </div>
            {% endfor %}
        </ul>
            <div class="pagination">
                <span class="page-links">
                    {% if page_obj.has_previous %}
                        <a href="/blog/" class="blognav">First Post</a>
                        <a href="/blog/?page={{ page_obj.previous_page_number }}" class="blognav">&lt;&lt; Previous</a>
                    {% endif %}
                    
                    <span class="current">
                        <div id="cpage">
                        {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                        </div>
                    </span>
                    
                    {% if page_obj.has_next %}
                        <a href="/blog/?page={{ page_obj.next_page_number }}" class="blognav">Next &gt;&gt;</a>
                        
                        <a href="/blog/?page={{ page_obj.paginator.num_pages }}" class="blognav">Last Post</a>
                    {% endif %}
                    
                </span>
            </div>
        </ul>
    </div>
</div>
{% endblock %}
