<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE html PUBLIC '-//W3C//DTD XHTML 1.0 Transitional//EN'
    'http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd'>

<html xmlns='http://www.w3.org/1999/xhtml' xml:lang='en' lang='en'>
<head> <title>{% block title %}MyBlog{% endblock %}</title> </head>

<body>
    <div id='sidebar'> {% block sidebar %} {% endblock %} </div>
    <div id='container'>
        <div id='menu'>
            {% blog nav-global %}
            
                <!-- MENU -->
                <h3>MyBlog</h3>
                {% if user.is_starr %}
                <a href='{% url "admin:index" %}'>Admin</a>
                <a href='{% url "admin:blog_post_add" %}'>Add post</a>
                {% endif %}
                
            {% endblock %}
        </div>
        
        <div id='content'>
            {% block content %}{% endblock %}
        </div>
        
</body>
</html>
