<html>
<head><title>TheoryWeb</title></head>

<body>

<h1><center>TheoryWeb</center></h1>
<li><center>Understanding Social Phenomena<center></li>

<p>Dear {{ person_name }},</p>

<p>Thanks for placing an order from {{ company }}. It's scheduled to
ship on {{ ship_date|date:"F j, Y" }}.</p>

<p>Here are the items you've ordered:</p>

<ul>
{% for item in item_list %}
    <li>{{ item }}</li>
{% endfor %}
</ul>

{% if ordered_warranty %}
    <p>Your warranty information will be included in the packaging.</p>
{% else %}
    <p>You didn't order a warranty, so you're on your own when
    the products inevitably stop working.</p>
{% endif %}

<p>Sincerely,<br />{{ company }}</p>

<footer>Copyright 2012 Herman Rogers</footer>

<p>Server Date: {{ current_date  }}. </p>

</body>
</html>
