<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 //EN" "http://www.w3.org/TR/html14/strict.dtd">

<html>
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">

    <link rel="stylesheet" type="text/css" href="/static/CSS/homepage.css/" />

    <link rel='stylesheet' type='text/css' href="http://fonts.googleapis.com/css?family=Ubuntu:regular,bold&subset=Latin">

<body>
    

<!--This is the navigation links at the top-->

<div id="header-top">
    <ul>
        <li><a href="{% url "TheoryWeb.views.homepage" %}">Home</a></li>
        <li><a href="{% url "TheoryWeb.views.research" %}">Projects</a></li>
        <li><a href="{% url "TheoryWeb.views.resume" %}">Resume</a></li>
        <li><a href="/blog/">Blog</a></li>
    </li>
</div>
        
        
<!--This is the Main Header and Tagline (below links)-->

<div id='top'>
    <h1 class="header">Boomer Rogers</h1>
    <div id="tagline">while x == true: print "Programming Life"</div>
</div>
    {% block content %}{% endblock %}
    {% block footer %}
    {% endblock %}
    
    <title>{% block title %} H. Rogers {% endblock %}</title>


<!--This is the About Me Section-->

</div>
<div id='leftnav'>
    <div id="mainfeature">
        <h2>Welcome</h2>
            <h3>About me..</h3>
            <p>My name is Boomer...I know "<i>is</i> that really your name?"...well, its a nickname but I've <b>been</b> Boomer since I was a kid. What can I say, the name has grown on me. <br><br>Speaking of childhood, I also grew up with computers playing games (Commander Keen!), tweaking with hardware (sometimes to my parents dismay but I did need to splice those wires), messing with software and building small games. Today I still love messing with computers, programming, and video games. On top of this I also love social science and generally figuring out what makes people tick. Right now I am a MScEcon candidate at Aberystwyth University working on complexity theory in social science (with my sights set on computer simulation models).<br><br> In my free time I love to work on programming projects (such as this site) and plan to start programming on my new Raspberry Pi while working on learning more about C (refreshing my high school C++ skills). Feel free to look around my site and see what projects I have going on! Welcome :)
    </div>
</div>

<div id='rightnav'>
<!--This is for adding Updates-->
    <div id='updatepanel'>
        <h3>Latest News</h3>
        <h4>Welcome</h4>
        <p> Welcome to my website for programming and fireside research! This is where all the magic happens!</p>
        <h4>8th Light</h4>
        <p>I've started building a new Tic-Tac-Toe program as apart of the initial application stages to 8th light's apprenticeship program</p>
        <h4>Summer is Coming</h4>
        <p> Summer is finally here so now its time to finish up master's research while programming every change I get!</p>
    </div>
</div>
	<!--This is the Main Content where you can Edit Skills, etc.-->

	<div id='content'>
	    <h2>Programming Interests</h2>
	    <h3>Languages</h3>
    <p><i>Proficient in:</i> Python, CSS, HTML 5</p>
    <p><i>Familiar with:</i> SQL, Javascript</p>
    <p><i>Improving on:</i> C, Java, Ruby</p>
    <h3>Favorite Software/Libraries</h3>
    <p> Starcraft 2, Django, Pygame, SciPy, Jquery, NetLogo, SPSS</p>
    <h3>Operating Systems</h3>
    <p>My main operating system is Linux (Ubuntu 12.10), while I am proficient in Mac OS 9 - OS X 10.8, Windows 98 - 8, and Android (Gingerbread and Ice Cream Sandwich)</p>
    <h3>Research Techniques</h3>
    <p>Agent-Based Modeling (Rule based/Behavioral modeling), Complexity Theory, Philosophy (especially Wittgenstein), and some Mathematical/Statistical Analysis</p>
</div>
<!--This is the Footer at the Bottom-->

<div id='footer'>
    <p>Powered/Designed by Boomer Rogers: (Copyright 2012)</p>
    <p>Optimized for Google Chrome and Firefox</p>
</div>

<!--Javascript-->

<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<script type="text/javascript" src="/static/CSS/jquery.lettering-0.6.1.min.js/"></script>

<script>
  $(document).ready(function(){
    $(".header").lettering('words');
    $("#tagline").lettering('words');
  });
</script>

</body>
</html>
