<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 //EN" "http://www.w3.org/TR/html14/strict.dtd">
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	
	<link rel="stylesheet" type="text/css" href="/static/CSS/research.css/">

	<link rel='stylesheet' type='text/css' href="http://fonts.googleapis.com/css?family=Ubuntu:regular,bold&subset=Latin">

</head>

<!--Top Navigation Links: Home, Projects, etc.-->

<body>

<div id="header-top">
    <ul>
        <li><a href="{% url "TheoryWeb.views.homepage" %}">Home</a></li>
        <li><a href="{% url "TheoryWeb.views.research" %}">Projects</a></li>
        <li><a href="{% url "TheoryWeb.views.resume" %}">Resume</a></li>
        <li><a href="/blog">Blog</a></li>
    </li>
</div>
    
    <!--This is the Main Header and Tagline (below links)-->

<div id='top'>
    <h1 class="header">Boomer Rogers</h1>
    <div id="tagline">while x == true: print "Programming Life"</div>
</div>
    
<title>{% block title %} H. Rogers {% endblock %}</title>
    
<!--    This is the Left and Right Side Boxes/Content-->
    
<div id="leftnav">
    <h1>Awesome Resources around the Web</h1>
    <ul>
        <li><a href=http://www.codinghorror.com/blog/ ><b>Coding Horror</b> -- One of my favorite blogs about programming providng information about new languages and techniques. Its also very entertaining!</li>
        <br>
        <li><a href=http://learncodethehardway.org/><b>LearnTheHardWay</b> -- An absolute must for learning programming! These books are simply great ways to get your hands dirty and start programming!</li>
        <br>
        <li><a href=https://www.coursera.org/course/modelthinking><b>Model Thinking UMich</b> -- An awesome  introductory course on Computer Modeling in the Social Sciences, and its free too!</a></li>
        <br>
        <li><a href=http://www.santafe.edu/ ><b>Santa Fe Institute</b> -- Home to the worlds first complexity theory focused programs, SFI is one of my all time favorite places to visit to catch up on research being done "at the edge of chaos"</a></li>
</div>

<!--    This is the Carousel merging with previous Content-->

<div id="rightnav">
    <div id="tooltip">try clicking or dragging the carousel</div>
    <div id="carousel">
	    <img src="http://www.optometrystudents.com/wp-content/uploads/2012/07/Jogo_da_velha_-_tic_tac_toe.png" alt="" class="slide" />
	    <img src="http://www.omgubuntu.co.uk/wp-content/uploads/2012/10/13.04-tile.jpg" alt="" class="slide" />
	    <img src="http://cdn-static.cnet.co.uk/i/c/blg/cat/desktops/raspberry-pi-store.jpg" alt="" class="slide" />
        <img src="http://www.archlinuxgallery.com/images/arch-linux-wallpaper.jpg" alt="" class="slide" />
        

<!--You can add more slide images here-->
	    
<!--	    <img src="UnmarkforSlide" alt="" class="slide" />-->
<!--	    <img src="" alt="" class="slide" />-->
<!--	    <img src="" alt="" class="slide" />-->
    </div>


    <div id="carousel-controls">
	    <span class="control current"></span>
	    <span class="control"></span>
	    <span class="control"></span>
	    <span class="control"></span>

<!--This is where you add more dots underneath: scale with images-->
<!--	    <span class="control">UnmarkforSlide</span>-->
<!--	    <span class="control"></span>-->
<!--	    <span class="control"></span>-->
    </div>

    <ul id="carousel-descriptions">
	    <li class="desc current"> Tic-Tac<p>Building a Tic-Tac-Toe game using python/pygame while also implementing an unbeatable AI with the minimax algorithm.</p></li>
	    <li class="desc">Ubuntu 13.04<p>A new version of Ubuntu is out with all new features and better search implementation</p></li>
	    <li class="desc">Raspberry Pi<p>Working more with the Raspberry pi has made me want to build an app and launch it on its store, still looking for something to build, however a video game sounds nice</p></li>
	    <li class="desc">Arch Linux<p>I've been looking at trying a new linux distro that might provide more than what Ubuntu can offer. Right now Arch is looking incredibly tempting</p></li>
	    
<!--	    <li class="desc">Unmark<p>ForExtraSlide</p></li>-->
<!--	    <li class="desc"><p></li>-->
<!--	    <li class="desc"><p></p></li>-->
    
    </ul>
        
    <div class="textshow">
        <h2>Browse Projects</h2>
        <h3>Tic-Tac-Toe</h3>
        <div>This is the classic tic-tac-toe game we all grew up playing. Its implemented with python using the pygame library to create a graphical environment. The big challenge of this game in particular is that the AI implements a mini-max algorithm that is, to date, unbeatable. Git it a whirl! <a href=https://github.com/herman-rogers/tictactoe>Go to Github</a></div>
        <h3>FizzBuzz</h3>
        <div>"FizzBuzz" a small 'infinite counter' that fizzes on numbers divisible by 5, buzzes on numbers divisible by 3, and fizzbuzzes when numbers are divisible by both. They give these at programming interviews and it piqued my curiosity. <a href=https://github.com/herman-rogers/FizzBuzz>Go to Github</a></div>
        <h3>Show/Hide Text in HTML</h3>
        <div>A Small Jquery script that shows/hides text. It is useful when attempting to hide text within a single div tag. I found it even more useful when my slider was reliant on switching images (using img tags), and thus pages. This would allow for text to show and hide underneath each img in the slider. However, since I've replaced the slider (on projects page) with a jquery slider I no longer needed the text. Another weakness is that the Jquery script is coded into the HTML itself, rather than at the bottom of the page.<a href=http://pastebin.com/cXs66yJZ> Go to Pastebin</a></div>
        <h3>"7Wars"</h3>
        <div>A small text adventure game made with python. To run this you need to install python, move the file into your chosen directory and run the command "python 7wars.py". <a href=https://github.com/herman-rogers/7WarsTextBased>Go to Github</a></div>

        <h3>"Valley of Gog"</h3>
        <div>Valley of Gog is another small text game just download the files, install python, and run "python ValleyofMagog.py". <a href=https://github.com/herman-rogers/ValleyOfGog>Go to Github</a></div>

</div>

<div id='footer'>
    <p>Powerered/Designed by Boomer Rogers: (Copyright 2012)</p>
    <p>Optimized for Google Chrome and Firefox</p>
    </div>
</div>

</body>

<!--JavaScripts/Jquery-->

<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>

<script type="text/javascript" src="/static/CSS/jquery.roundabout.min.js/"></script>

<script type="text/javascript" src="/static/CSS/jquery.lettering-0.6.1.min.js/"></script>

<script src="/static/CSS/jquery.event.drag-2.2.js"></script>
<script src="/static/CSS/jquery.event.drop-2.2.js"></script>

<script>
$(document).ready(function() {
  $("div.textshow:eq(0)> div").hide();
  $("div.textshow:eq(0)> h3").click(function() {
    $(this).next().slideToggle('fast');
  });
});
</script>

<!--Carousel Specific Jquery-->

<script type="text/javascript">
(function($) {

var $descriptions = $('#carousel-descriptions').children('li'),
	$controls = $('#carousel-controls').find('span'),
	$carousel = $('#carousel')
		.roundabout({childSelector:"img", minOpacity:0, autoplay:true, autoplayDuration:4000, autoplayPauseOnHover:true, easing:"swing", enableDrag:true})
		
		.on('focus', 'img', function() {
			var slideNum = $carousel.roundabout("getChildInFocus");
			
			$descriptions.add($controls).removeClass('current');
			$($descriptions.get(slideNum)).addClass('current');
			$($controls.get(slideNum)).addClass('current');
		});

$controls.on('click dblclick', function() {
    
	var slideNum = -1,
		i = 0, len = $controls.length;

	for (; i<len; i++) {
		if (this === $controls.get(i)) {
			slideNum = i;
			break;
		}
	}
	
	if (slideNum >= 0) {
		$controls.removeClass('current');
		$(this).addClass('current');
		$carousel.roundabout('animateToChild', slideNum);
	}
    
});

}(jQuery));
</script>
<script>
  $(document).ready(function(){
    $(".header").lettering('words');
    $("#tagline").lettering('words');
  });
</script>

</body>
</html>
